html {
background:url(us.jpg) no-repeat center center fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
}

@keyframes glow_1 {
	0%{
	//text-shadow:-8px 0px px gold ,8px 0px 4px gold ,0px -8px 4px gold ,0px 8px 4px gold ;
	text-shadow:-8px 0px 3px gold ,8px 0px 3px gold ,0px -8px 3px gold ,0px 8px 3px gold ;
	text-shadow:-4px 0px 3px gold ,4px 0px 3px gold ,0px -4px 3px gold ,0px 4px 3px gold ;
	}
	10% {
	text-shadow:-8px 0px 6px gold ,8px 0px 6px gold ,0px -8px 6px gold ,0px 8px 6px gold ;
	text-shadow:-4px 0px 6px gold ,4px 0px 6px gold ,0px -4px 6px gold ,0px 4px 6px gold ;
	}
	20% {
	text-shadow:-8px 0px 9px gold ,8px 0px 9px gold ,0px -8px 9px gold ,0px 8px 9px gold ;
	text-shadow:-4px 0px 9px gold ,4px 0px 9px gold ,0px -4px 9px gold ,0px 4px 9px gold ;
	}
	30% {
	text-shadow:-8px 0px 12px gold ,8px 0px 12px gold ,0px -8px 12px gold ,0px 8px 12px gold ;
	text-shadow:-4px 0px 12px gold ,4px 0px 12px gold ,0px -4px 12px gold ,0px 4px 12px gold ;
	}
	40% {
	text-shadow:-8px 0px 15px gold ,8px 0px 15px gold ,0px -8px 15px gold ,0px 8px 15px gold ;
	text-shadow:-4px 0px 15px gold ,4px 0px 15px gold ,0px -4px 15px gold ,0px 4px 15px gold ;
	}
	50% {
	text-shadow:-8px 0px 18px gold ,8px 0px 18px gold ,0px -8px 18px gold ,0px 8px 18px gold ;
	text-shadow:-4px 0px 18px gold ,4px 0px 18px gold ,0px -4px 18px gold ,0px 4px 18px gold ;
	}
	60% {
	text-shadow:-8px 0px 15px gold ,8px 0px 15px gold ,0px -8px 15px gold ,0px 8px 15px gold ;
	text-shadow:-4px 0px 15px gold ,4px 0px 15px gold ,0px -4px 15px gold ,0px 4px 15px gold ;
	}
	70% {
	text-shadow:-8px 0px 12px gold ,8px 0px 12px gold ,0px -8px 12px gold ,0px 8px 12px gold ;
	text-shadow:-4px 0px 12px gold ,4px 0px 12px gold ,0px -4px 12px gold ,0px 4px 12px gold ;
	}
	80% {
	text-shadow:-8px 0px 9px gold ,8px 0px 9px gold ,0px -8px 9px gold ,0px 8px 9px gold ;
	text-shadow:-4px 0px 9px gold ,4px 0px 9px gold ,0px -4px 9px gold ,0px 4px 9px gold ;
	}
	90% {
	text-shadow:-8px 0px 6px gold ,8px 0px 6px gold ,0px -8px 6px gold ,0px 8px 6px gold ;
	text-shadow:-4px 0px 6px gold ,4px 0px 6px gold ,0px -4px 6px gold ,0px 4px 6px gold ;
	}
}

#name_1 {
	color:azure;
	font-size:25px;
	position:absolute;
	top:40%;
	left:45%;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	cursor:none;
}
#name_2 {
	color:azure;
	font-size:25px;
	position:absolute;
	top:40%;
	left:53%;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	cursor:none;
}
#name_3 {
	color:azure;
	font-size:25px;
	position:absolute;
	top:48%;
	left:45%;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	cursor:none;
}
#name_4 {
	color:azure;
	font-size:25px;
	position:absolute;
	top:48%;
	left:53%;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	cursor:none;
}
#name_5 {
	color:azure;
	font-size:25px;
	position:absolute;
	top:65%;
	left:27%;
	cursor:pointer;
}
#name_6 {
	color:azure;
	font-size:25px;
	position:absolute;
	top:65%;
	left:52%;
	cursor:pointer;
}

#name_7 {
	opacity:0;
	color:black;
	font-size:25px;
	position:absolute;
	top:72%;
	left:52%;
	cursor:pointer;
}

#img_1 {

	height:245px;
	width:190px;
	position:absolute;
	top:20%;
	left:28%;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	cursor:none;
}
#img_2 {
	height:50px;
	width:50px;
	position:absolute;
	top:63%;
	
	left:22%;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	cursor:none;
}
#img_3 {
	height:50px;
	width:50px;
	position:absolute;
	top:63%;
	left:48%;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	cursor:none;
}

#com {
font-size:25px;
position:fixed;
left:250px;
top:27px;
color:red;
}

#name {
font-size:35px;
position:fixed;
left:30px;
top:1px;
color:red;
animation:glow_1 2s infinite;
-webkit-touch-callout:none;
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
}

#my {
position:fixed;
right:20px;
bottom:5px;
font-size:20px;
color:white;
opacity:0.2;
cursor:none;
-webkit-touch-callout:none;
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
}

#mainp {
font-size:22px;
text-align:center;
text-shadow: 2px 2px 2px Chartreuse,2px -2px 2px Chartreuse,-2px 2px 2px Chartreuse,-2px -2px 2px Chartreuse;
width:75px;
height:75px;
border-radius:50px;
position:absolute;
right:0.25%;
top:1.5%;
color:purple;
cursor:pointer;
background-color:BurlyWood;
opacity:0.4;
-webkit-touch-callout:none;
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
}

#mainp:hover {
cursor:pointer;
opacity:1.0;
}
